<h1>Hello, {{currentUser.username}} here u can share your awesome story with us!</h1>

<form action="/story/create" method="POST">
  <label>Title:</label>
  <input type="text" name="title" />
  <br>
  <label>description:</label>
  <textarea name="description" id="" cols="30" rows="10"></textarea>
  <br>
  <label>Url Image:</label>
  <input type="text" name="urlImage" />
  <br>
  <input type="submit">
</form>