<h3>Edit your comment:</h3>
<form action="/story/comment/edit/{{this._id}}" method="post">
  <textarea name="comment" cols="60" rows="10">{{this.commentContent}}</textarea>
  <br>
  <input type="submit" value="Post" />
</form>