<h1>Create destination:</h1>
<form action="/category/create" method="post">
  <select name="category">
    <option value="World">World</option>
    <option value="Cities">Cities</option>
    <option value="Lands">Lands</option>
  </select>
  <br>
  <label>Title</label>
  <input type="text" name="title" />
  <br>
  <label>Description</label>
  <textarea type="text" name="description" rows="5" cols="60"></textarea>
  <br>
  <label>Image</label>
  <input type="text" name="imageUrl" />
  <br>
  <input type="submit" value="Create">
</form>