<div>
  <ul>
    {{#if currentUser}}
    <li>
      <a href="/story/create">Your Story</a>
    </li>
    {{/if}}
    <li>
      <a href="/story/all">View all</a>
    </li>
    <li>
      <a href="">View more</a>
    </li>
  </ul>
</div>

<h2>View our categories</h2>

{{#each categories}}
<div name="{{this.category}}">
  <a href="/category?selected={{this.category}}">{{this.category}}</a>
</div>
{{/each}}

