<div>
  <ul>
    {{#if currentUser}}
    <li>
      <a href="/story/create">Your Story</a>
    </li>
    {{/if}}
    <li>
      <a href="/story/all">View all</a>
    </li>
    <li>
      <a href="">View more</a>
    </li>
  </ul>
</div>
<h1>Top 10 destinations for 2018:</h1>

<ul>
  {{#each destinations}}
  <li>
    <h3>{{this.title}}</h3>
    <img src="{{this.imageUrl}}" alt="{{this.title}}">
  </li>
  {{/each}}
</ul>
