<div>
  <ul>
    <li>
      <a href="/story/create">Your Story</a>
    </li>
    <li>
      <a href="/story/viewAll">View all</a>
    </li>
    <li>
      <a href="">View more</a>
    </li>
  </ul>
</div>